In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("../data/bodyfat.txt", delimiter=" ", decimal=".", encoding="utf-8")

In [11]:
df

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
2,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
3,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
4,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
5,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
6,1.0502,20.9,24,210.25,74.75,39.0,104.5,94.4,107.8,66.0,42.0,25.6,35.7,30.6,18.8
7,1.0549,19.2,26,181.00,69.75,36.4,105.1,90.7,100.3,58.4,38.3,22.9,31.9,27.8,17.7
8,1.0704,12.4,25,176.00,72.50,37.8,99.6,88.5,97.1,60.0,39.4,23.2,30.5,29.0,18.8
9,1.0900,4.1,25,191.00,74.00,38.1,100.9,82.5,99.9,62.9,38.3,23.8,35.9,31.1,18.2
10,1.0722,11.7,23,198.25,73.50,42.1,99.6,88.6,104.1,63.1,41.7,25.0,35.6,30.0,19.2
11,1.0830,7.1,26,186.25,74.50,38.5,101.5,83.6,98.2,59.7,39.7,25.2,32.8,29.4,18.5
12,1.0812,7.8,27,216.00,76.00,39.4,103.6,90.9,107.7,66.2,39.2,25.9,37.2,30.2,19.0
13,1.0513,20.8,32,180.50,69.50,38.4,102.0,91.6,103.9,63.4,38.3,21.5,32.5,28.6,17.7
14,1.0505,21.2,30,205.25,71.25,39.4,104.1,101.8,108.6,66.0,41.5,23.7,36.9,31.6,18.8
15,1.0484,22.1,35,187.75,69.50,40.5,101.3,96.4,100.1,69.0,39.0,23.1,36.1,30.5,18.2
16,1.0512,20.9,35,162.75,66.00,36.4,99.1,92.8,99.2,63.1,38.7,21.7,31.1,26.4,16.9
17,1.0333,29.0,34,195.75,71.00,38.9,101.9,96.4,105.2,64.8,40.8,23.1,36.2,30.8,17.3
18,1.0468,22.9,32,209.25,71.00,42.1,107.6,97.5,107.0,66.9,40.0,24.4,38.2,31.6,19.3
19,1.0622,16.0,28,183.75,67.75,38.0,106.8,89.6,102.4,64.2,38.7,22.9,37.2,30.5,18.5
20,1.0610,16.5,33,211.75,73.50,40.0,106.2,100.5,109.0,65.8,40.6,24.0,37.1,30.1,18.2
21,1.0551,19.1,28,179.00,68.00,39.1,103.3,95.9,104.9,63.5,38.0,22.1,32.5,30.3,18.4
22,1.0640,15.2,28,200.50,69.75,41.3,111.4,98.8,104.8,63.4,40.6,24.6,33.0,32.8,19.9
23,1.0631,15.6,31,140.25,68.25,33.9,86.0,76.4,94.6,57.4,35.3,22.2,27.9,25.9,16.7
24,1.0584,17.7,32,148.75,70.00,35.5,86.7,80.0,93.4,54.9,36.2,22.1,29.8,26.7,17.1
25,1.0668,14.0,28,151.25,67.75,34.5,90.2,76.3,95.8,58.4,35.5,22.9,31.1,28.0,17.6
26,1.0911,3.7,27,159.25,71.50,35.7,89.6,79.7,96.5,55.0,36.7,22.5,29.9,28.2,17.7
27,1.0811,7.9,34,131.50,67.50,36.2,88.6,74.6,85.3,51.7,34.7,21.4,28.7,27.0,16.5
28,1.0468,22.9,31,148.00,67.50,38.8,97.4,88.7,94.7,57.5,36.0,21.0,29.2,26.6,17.0
29,1.0910,3.7,27,133.25,64.75,36.4,93.5,73.9,88.5,50.1,34.5,21.3,30.5,27.9,17.2
30,1.0790,8.8,29,160.75,69.00,36.7,97.4,83.5,98.7,58.9,35.3,22.6,30.1,26.7,17.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,1.0726,11.5,54,161.75,67.50,37.4,94.2,87.6,95.6,59.7,40.2,23.4,27.9,27.0,17.8
224,1.0874,5.2,55,142.25,67.25,35.2,92.7,82.8,91.9,54.4,35.2,22.5,29.4,26.8,17.0
225,1.0740,10.9,55,179.75,68.75,41.1,106.9,95.3,98.2,57.4,37.1,21.8,34.1,31.1,19.2
226,1.0703,12.5,55,126.50,66.75,33.4,88.8,78.2,87.5,50.8,33.0,19.7,25.3,22.0,15.8
227,1.0650,14.8,55,169.50,68.25,37.2,101.7,91.1,97.1,56.6,38.5,22.6,33.4,29.3,18.8
228,1.0418,25.2,55,198.50,74.25,38.3,105.3,96.7,106.6,64.0,42.6,23.4,33.2,30.0,18.4
229,1.0647,14.9,56,174.50,69.50,38.1,104.0,89.4,98.4,58.4,37.4,22.5,34.6,30.1,18.8
230,1.0601,17.0,56,167.75,68.50,37.4,98.6,93.0,97.0,55.4,38.8,23.2,32.4,29.7,19.0
231,1.0745,10.6,57,147.75,65.75,35.2,99.6,86.4,90.1,53.0,35.0,21.3,31.7,27.3,16.9
232,1.0620,16.1,57,182.25,71.75,39.4,103.4,96.7,100.7,59.3,38.6,22.8,31.8,29.1,19.0
233,1.0636,15.4,58,175.50,71.50,38.0,100.2,88.1,97.8,57.1,38.9,23.6,30.9,29.6,18.0
234,1.0384,26.7,58,161.75,67.25,35.1,94.9,94.9,100.2,56.8,35.9,21.0,27.8,26.1,17.6
235,1.0403,25.8,60,157.75,67.50,40.4,97.2,93.3,94.0,54.3,35.7,21.0,31.3,28.7,18.3
236,1.0563,18.6,62,168.75,67.50,38.3,104.7,95.6,93.7,54.4,37.1,22.7,30.3,26.3,18.3
237,1.0424,24.8,62,191.50,72.25,40.6,104.0,98.2,101.1,59.3,40.3,23.0,32.6,28.5,19.0
238,1.0372,27.3,63,219.15,69.50,40.2,117.6,113.8,111.8,63.4,41.1,22.3,35.1,29.6,18.5
239,1.0705,12.4,64,155.25,69.50,37.9,95.8,82.8,94.5,61.2,39.1,22.3,29.8,28.9,18.3
240,1.0316,29.9,65,189.75,65.75,40.8,106.4,100.5,100.5,59.2,38.1,24.0,35.9,30.5,19.1
241,1.0599,17.0,65,127.50,65.75,34.7,93.0,79.7,87.6,50.7,33.4,20.1,28.5,24.8,16.5
242,1.0207,35.0,65,224.50,68.25,38.8,119.6,118.0,114.3,61.3,42.1,23.4,34.9,30.1,19.4
243,1.0304,30.4,66,234.25,72.00,41.4,119.7,109.0,109.1,63.7,42.4,24.6,35.6,30.7,19.5
244,1.0256,32.6,67,227.75,72.75,41.3,115.8,113.4,109.8,65.6,46.0,25.4,35.3,29.8,19.5
245,1.0334,29.0,67,199.50,68.50,40.7,118.3,106.1,101.6,58.2,38.8,24.1,32.1,29.3,18.5
246,1.0641,15.2,68,155.50,69.25,36.3,97.4,84.3,94.4,54.3,37.5,22.6,29.2,27.3,18.5
247,1.0308,30.2,69,215.50,70.50,40.8,113.7,107.6,110.0,63.3,44.0,22.6,37.5,32.6,18.8
248,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
249,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
250,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
251,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
252,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [12]:
df.head(8)

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
2,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
3,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
4,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
5,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
6,1.0502,20.9,24,210.25,74.75,39.0,104.5,94.4,107.8,66.0,42.0,25.6,35.7,30.6,18.8
7,1.0549,19.2,26,181.00,69.75,36.4,105.1,90.7,100.3,58.4,38.3,22.9,31.9,27.8,17.7
8,1.0704,12.4,25,176.00,72.50,37.8,99.6,88.5,97.1,60.0,39.4,23.2,30.5,29.0,18.8

In [13]:
df.tail(8)

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
245,1.0334,29.0,67,199.50,68.50,40.7,118.3,106.1,101.6,58.2,38.8,24.1,32.1,29.3,18.5
246,1.0641,15.2,68,155.50,69.25,36.3,97.4,84.3,94.4,54.3,37.5,22.6,29.2,27.3,18.5
247,1.0308,30.2,69,215.50,70.50,40.8,113.7,107.6,110.0,63.3,44.0,22.6,37.5,32.6,18.8
248,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
249,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
250,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
251,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
252,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [23]:
df.loc[1]

Density      1.0708
Fat         12.3000
Age         23.0000
Weight     154.2500
Height      67.7500
Neck        36.2000
Chest       93.1000
Abdomen     85.2000
Hip         94.5000
Thigh       59.0000
Knee        37.3000
Ankle       21.9000
Biceps      32.0000
Forearm     27.4000
Wrist       17.1000
Name: 1, dtype: float64

In [20]:
df.loc[[1]]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1

In [22]:
df.iloc[[0]]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1

In [30]:
df[0:2]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
2,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2

In [31]:
df[12:20]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
13,1.0513,20.8,32,180.50,69.50,38.4,102.0,91.6,103.9,63.4,38.3,21.5,32.5,28.6,17.7
14,1.0505,21.2,30,205.25,71.25,39.4,104.1,101.8,108.6,66.0,41.5,23.7,36.9,31.6,18.8
15,1.0484,22.1,35,187.75,69.50,40.5,101.3,96.4,100.1,69.0,39.0,23.1,36.1,30.5,18.2
16,1.0512,20.9,35,162.75,66.00,36.4,99.1,92.8,99.2,63.1,38.7,21.7,31.1,26.4,16.9
17,1.0333,29.0,34,195.75,71.00,38.9,101.9,96.4,105.2,64.8,40.8,23.1,36.2,30.8,17.3
18,1.0468,22.9,32,209.25,71.00,42.1,107.6,97.5,107.0,66.9,40.0,24.4,38.2,31.6,19.3
19,1.0622,16.0,28,183.75,67.75,38.0,106.8,89.6,102.4,64.2,38.7,22.9,37.2,30.5,18.5
20,1.0610,16.5,33,211.75,73.50,40.0,106.2,100.5,109.0,65.8,40.6,24.0,37.1,30.1,18.2

In [37]:
df[1:50:2]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
2,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
4,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
6,1.0502,20.9,24,210.25,74.75,39.0,104.5,94.4,107.8,66.0,42.0,25.6,35.7,30.6,18.8
8,1.0704,12.4,25,176.00,72.50,37.8,99.6,88.5,97.1,60.0,39.4,23.2,30.5,29.0,18.8
10,1.0722,11.7,23,198.25,73.50,42.1,99.6,88.6,104.1,63.1,41.7,25.0,35.6,30.0,19.2
12,1.0812,7.8,27,216.00,76.00,39.4,103.6,90.9,107.7,66.2,39.2,25.9,37.2,30.2,19.0
14,1.0505,21.2,30,205.25,71.25,39.4,104.1,101.8,108.6,66.0,41.5,23.7,36.9,31.6,18.8
16,1.0512,20.9,35,162.75,66.00,36.4,99.1,92.8,99.2,63.1,38.7,21.7,31.1,26.4,16.9
18,1.0468,22.9,32,209.25,71.00,42.1,107.6,97.5,107.0,66.9,40.0,24.4,38.2,31.6,19.3
20,1.0610,16.5,33,211.75,73.50,40.0,106.2,100.5,109.0,65.8,40.6,24.0,37.1,30.1,18.2
22,1.0640,15.2,28,200.50,69.75,41.3,111.4,98.8,104.8,63.4,40.6,24.6,33.0,32.8,19.9
24,1.0584,17.7,32,148.75,70.00,35.5,86.7,80.0,93.4,54.9,36.2,22.1,29.8,26.7,17.1
26,1.0911,3.7,27,159.25,71.50,35.7,89.6,79.7,96.5,55.0,36.7,22.5,29.9,28.2,17.7
28,1.0468,22.9,31,148.00,67.50,38.8,97.4,88.7,94.7,57.5,36.0,21.0,29.2,26.6,17.0
30,1.0790,8.8,29,160.75,69.00,36.7,97.4,83.5,98.7,58.9,35.3,22.6,30.1,26.7,17.6
32,1.0862,5.7,29,160.25,71.25,37.3,93.5,84.5,100.6,58.5,38.8,21.5,30.1,26.4,17.9
34,1.0502,21.3,41,218.50,71.00,39.8,111.7,100.5,108.3,67.1,44.2,25.2,37.5,31.5,18.7
36,1.0101,40.1,49,191.75,65.00,38.4,118.5,113.1,113.8,61.9,38.3,21.9,32.0,29.8,17.0
38,1.0346,28.4,50,196.75,68.25,42.1,105.6,98.8,104.8,66.0,41.5,24.7,33.2,30.5,19.4
40,1.0258,32.6,50,203.00,67.00,40.2,114.8,108.1,102.5,61.3,41.1,24.7,34.1,31.0,18.3
42,1.0250,32.9,44,205.00,29.50,36.6,106.0,104.3,115.5,70.6,42.5,23.7,33.6,28.7,17.4
44,1.0269,32.0,41,212.00,71.50,41.5,106.6,104.3,106.0,65.0,40.2,23.0,35.8,31.5,18.8
46,1.0670,13.9,43,164.25,73.25,35.7,96.6,81.5,97.2,58.4,38.2,23.4,29.7,27.4,18.3
48,1.0665,5.6,39,148.50,71.25,34.6,89.8,79.5,92.7,52.7,37.5,21.9,28.8,26.8,17.9
50,1.0903,4.0,47,127.50,66.75,34.0,83.4,70.4,87.2,50.6,34.4,21.9,26.8,25.8,16.8

In [39]:
df.Density

1      1.0708
2      1.0853
3      1.0414
4      1.0751
5      1.0340
6      1.0502
7      1.0549
8      1.0704
9      1.0900
10     1.0722
11     1.0830
12     1.0812
13     1.0513
14     1.0505
15     1.0484
16     1.0512
17     1.0333
18     1.0468
19     1.0622
20     1.0610
21     1.0551
22     1.0640
23     1.0631
24     1.0584
25     1.0668
26     1.0911
27     1.0811
28     1.0468
29     1.0910
30     1.0790
        ...
223    1.0726
224    1.0874
225    1.0740
226    1.0703
227    1.0650
228    1.0418
229    1.0647
230    1.0601
231    1.0745
232    1.0620
233    1.0636
234    1.0384
235    1.0403
236    1.0563
237    1.0424
238    1.0372
239    1.0705
240    1.0316
241    1.0599
242    1.0207
243    1.0304
244    1.0256
245    1.0334
246    1.0641
247    1.0308
248    1.0736
249    1.0236
250    1.0328
251    1.0399
252    1.0271
Name: Density, Length: 252, dtype: float64

In [40]:
df.Density.sum()

266.0046

In [41]:
df.Density.mean()

1.055573809523809

In [42]:
df.Density.median()

1.0549

In [44]:
df.Density.describe()

count    252.000000
mean       1.055574
std        0.019031
min        0.995000
25%        1.041400
50%        1.054900
75%        1.070400
max        1.108900
Name: Density, dtype: float64

In [45]:
df.describe()

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,1.055574,19.150794,44.884921,178.924405,70.148810,37.992063,100.824206,92.555952,99.904762,59.405952,38.590476,23.102381,32.273413,28.663889,18.229762
std,0.019031,8.368740,12.602040,29.389160,3.662856,2.430913,8.430476,10.783077,7.164058,5.249952,2.411805,1.694893,3.021274,2.020691,0.933585
min,0.995000,0.000000,22.000000,118.500000,29.500000,31.100000,79.300000,69.400000,85.000000,47.200000,33.000000,19.100000,24.800000,21.000000,15.800000
25%,1.041400,12.475000,35.750000,159.000000,68.250000,36.400000,94.350000,84.575000,95.500000,56.000000,36.975000,22.000000,30.200000,27.300000,17.600000
50%,1.054900,19.200000,43.000000,176.500000,70.000000,38.000000,99.650000,90.950000,99.300000,59.000000,38.500000,22.800000,32.050000,28.700000,18.300000
75%,1.070400,25.300000,54.000000,197.000000,72.250000,39.425000,105.375000,99.325000,103.525000,62.350000,39.925000,24.000000,34.325000,30.000000,18.800000
max,1.108900,47.500000,81.000000,363.150000,77.750000,51.200000,136.200000,148.100000,147.700000,87.300000,49.100000,33.900000,45.000000,34.900000,21.400000

In [49]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Density,252.0,1.055574,0.019031,0.995,1.0414,1.0549,1.0704,1.1089
Fat,252.0,19.150794,8.368740,0.000,12.4750,19.2000,25.3000,47.5000
Age,252.0,44.884921,12.602040,22.000,35.7500,43.0000,54.0000,81.0000
Weight,252.0,178.924405,29.389160,118.500,159.0000,176.5000,197.0000,363.1500
Height,252.0,70.148810,3.662856,29.500,68.2500,70.0000,72.2500,77.7500
Neck,252.0,37.992063,2.430913,31.100,36.4000,38.0000,39.4250,51.2000
Chest,252.0,100.824206,8.430476,79.300,94.3500,99.6500,105.3750,136.2000
Abdomen,252.0,92.555952,10.783077,69.400,84.5750,90.9500,99.3250,148.1000
Hip,252.0,99.904762,7.164058,85.000,95.5000,99.3000,103.5250,147.7000
Thigh,252.0,59.405952,5.249952,47.200,56.0000,59.0000,62.3500,87.3000
Knee,252.0,38.590476,2.411805,33.000,36.9750,38.5000,39.9250,49.1000
Ankle,252.0,23.102381,1.694893,19.100,22.0000,22.8000,24.0000,33.9000
Biceps,252.0,32.273413,3.021274,24.800,30.2000,32.0500,34.3250,45.0000
Forearm,252.0,28.663889,2.020691,21.000,27.3000,28.7000,30.0000,34.9000
Wrist,252.0,18.229762,0.933585,15.800,17.6000,18.3000,18.8000,21.4000

In [50]:
df.shape

(252, 15)

In [51]:
df2 = pd.read_csv("http://winterolympicsmedals.com/medals.csv")

In [52]:
df2.shape

(2311, 8)

In [53]:
pd.read_table("http://winterolympicsmedals.com/medals.csv", delimiter=",")

/home/mie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
17,1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze
18,1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze
19,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
21,1924,Chamonix,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Bronze
22,1924,Chamonix,Skating,Figure skating,GBR,individual,W,Bronze
23,1924,Chamonix,Skating,Speed skating,NOR,10000m,M,Bronze
24,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Bronze
25,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Silver
26,1924,Chamonix,Skating,Speed skating,NOR,5000m,M,Bronze
27,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Bronze
28,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Silver
29,1924,Chamonix,Skating,Speed skating,NOR,combined (4 events),M,Silver
...,...,...,...,...,...,...,...,...
2281,2006,Turin,Skiing,Cross Country S,SWE,Sprint 1.5km,M,Gold
2282,2006,Turin,Skiing,Cross Country S,SWE,Team sprint,M,Gold
2283,2006,Turin,Skiing,Cross Country S,SWE,Team sprint,W,Gold
2284,2006,Turin,Biathlon,Biathlon,UKR,7.5km,W,Bronze
2285,2006,Turin,Skating,Figure skating,UKR,ice dancing,X,Bronze
2286,2006,Turin,Bobsleigh,Bobsleigh,USA,two-man,W,Silver
2287,2006,Turin,Curling,Curling,USA,curling,M,Bronze
2288,2006,Turin,Ice Hockey,Ice Hockey,USA,ice hockey,W,Bronze
2289,2006,Turin,Skating,Figure skating,USA,ice dancing,X,Silver
2290,2006,Turin,Skating,Figure skating,USA,individual,W,Silver
2291,2006,Turin,Skating,Short Track S.,USA,1000m,M,Bronze
2292,2006,Turin,Skating,Short Track S.,USA,5000m relay,M,Bronze
2293,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
2294,2006,Turin,Skating,Speed skating,USA,10000m,M,Silver
2295,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
2296,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
2297,2006,Turin,Skating,Speed skating,USA,1500m,M,Bronze
2298,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
2299,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
2300,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2303,2006,Turin,Skiing,Freestyle Ski.,USA,moguls,M,Bronze
2304,2006,Turin,Skiing,Snowboard,USA,Giant parallel slalom,W,Bronze
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

# Cómo crear un data frame

In [55]:
import numpy as np

In [57]:
df = pd.DataFrame({
    'A' : np.random.rand(10),
    'B' : np.random.rand(10),
    'C' : np.random.rand(10)
})

In [58]:
df

          A         B         C
0  0.158054  0.460958  0.488805
1  0.209346  0.549944  0.369246
2  0.705602  0.213713  0.000314
3  0.977197  0.032211  0.722775
4  0.761889  0.333794  0.783158
5  0.196250  0.552876  0.167581
6  0.326103  0.424893  0.496045
7  0.458189  0.640940  0.747166
8  0.926803  0.629473  0.444775
9  0.920129  0.935701  0.479251

In [59]:
df.mean()

A    0.563956
B    0.477450
C    0.469912
dtype: float64

In [61]:
df.A

0    0.158054
1    0.209346
2    0.705602
3    0.977197
4    0.761889
5    0.196250
6    0.326103
7    0.458189
8    0.926803
9    0.920129
Name: A, dtype: float64

In [75]:
df.A.mean()

0.5639561161104704

In [63]:
df.mean(axis='columns')

0    0.369272
1    0.376179
2    0.306543
3    0.577394
4    0.626280
5    0.305569
6    0.415680
7    0.615432
8    0.667017
9    0.778360
dtype: float64

In [72]:
df2 = pd.DataFrame({
    'key' : ['A','B','C','A','B','C'],
    'values' : range(6)
},
columns = ['key','values']
)
df2

  key  values
0   A       0
1   B       1
2   C       2
3   A       3
4   B       4
5   C       5

In [76]:
df2.groupby('key').mean()

     values
key
A       1.5
B       2.5
C       3.5

# Manipulación de data frames

In [83]:
df = pd.DataFrame({
    'key' : ['A','B','C','A','B','C'],
    'value1' : range(6),
    'value2' : np.random.randint(0, 100, 6)
})

In [84]:
df

  key  value1  value2
0   A       0      28
1   B       1      67
2   C       2      16
3   A       3      55
4   B       4      86
5   C       5      39

In [86]:
df.groupby('key').aggregate(['min', np.median, np.mean, max])

    value1                 value2
       min median mean max    min median  mean max
key
A        0    1.5  1.5   3     28   41.5  41.5  55
B        1    2.5  2.5   4     67   76.5  76.5  86
C        2    3.5  3.5   5     16   27.5  27.5  39

In [88]:
df.groupby('key').aggregate({'value1':'min', 'value2':'max'})

     value1  value2
key
A         0      55
B         1      86
C         2      39

In [89]:
df.groupby('key').aggregate(min)

     value1  value2
key
A         0      28
B         1      67
C         2      16

# Filter

In [100]:
def filter_func(x):
    return x['value2'].std()>5

In [101]:
display('df', "df.groupby('key').std()", "df.gropupby('key').filter(filter_func)")

'df'

"df.groupby('key').std()"

"df.gropupby('key').filter(filter_func)"

In [102]:
df.groupby('key').filter(filter_func)

  key  value1  value2
0   A       0      28
1   B       1      67
2   C       2      16
3   A       3      55
4   B       4      86
5   C       5      39

# Transform

In [108]:
df.groupby('key').transform(lambda x: x - x.mean())

   value1  value2
0    -1.5   -13.5
1    -1.5    -9.5
2    -1.5   -11.5
3     1.5    13.5
4     1.5     9.5
5     1.5    11.5

In [106]:
def norm_by_col2(x):
    x['value1'] /= x['value2'].sum()
    return x

In [107]:
df.groupby('key').apply(norm_by_col2)

  key    value1  value2
0   A  0.000000      28
1   B  0.006536      67
2   C  0.036364      16
3   A  0.036145      55
4   B  0.026144      86
5   C  0.090909      39

# División de datos por columnas

In [109]:
df['key']

0    A
1    B
2    C
3    A
4    B
5    C
Name: key, dtype: object